
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">App for making book purchases</h1>
        
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" asp-controller="Book" asp-action="Index" role="button">Get started</a>
    </div>
</div>
